h2 {
    display: flex;
    justify-content: center;
    color: #1DA1F2;
}

.photo {
    height:50px;
    width: 60px;
    padding: 20px;
}

.Pages {
    display: column;
    justify-content: left;
    color: gray;
}

.Home {
    padding-right: 10px;
    padding-left: 20px;
}

.Trending {
    padding-left: 20px;
}